# puerto donde deseas colocarlo
PORT= 
# usuario
USER=
# tu contraseña
PASSWORD=
# nombre de la base de datos
DATABASE=
# tu hosting
HOST=
# la palabra secreta que deseas implementar
JWT_SECRET=
# tu tiempo de expiracin
JWT_EXPIRES_IN=
# production 0 development
NODE_ENV=development